@use "../abstracts/variables";
@use "../abstracts/functions";
header {
    height:120px;
    position: relative;
    display: flex;
    align-items: center;
    border-bottom: 2px solid #000000;
    padding-left: 10rem;
    padding:1rem ;

    img{
        height: 80%;
        display: inline-block;
        border-radius: 20px;
    }

    h2{
        display: inline-block;
        margin-left: 10px;
        font-family: "poppins";
        font-size: 2rem;
        font-weight: 600;
        line-height: 400;
    }
}